body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
P{
    color: dimgray;
}
.orange{
    color: orange;
}
section{
    display: flex;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    padding: 70px;
}
.half-width img{
    width: 80%;
}
.link-tab{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    color: #ffffff;
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 5px;
}
.sec-had{
    font-size: 40px;
}
.dreem-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}